@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@import url('https://fonts.googleapis.com/css?family=Raleway');

// color
$red : #c2331a !default;
$black : #000 !default;

// font
$raleway : "Raleway",
sans-serif;
$robotoCondesed: "Roboto Condensed",
sans-serif;


$singleGrid: 100/12;

.grid {
  &__md-1 {
    width: $singleGrid*1%;
  }

  &__md-2 {
    width: $singleGrid*2%;
  }

  &__md-3 {
    width: $singleGrid*3%;
  }

  &__md-4 {
    width: $singleGrid*4%;
  }

  &__md-5 {
    width: $singleGrid*5%;
  }

  &__md-6 {
    width: $singleGrid*6%;
  }

  &__md-7 {
    width: $singleGrid*7%;
  }

  &__md-8 {
    width: $singleGrid*8%;
  }

  &__md-9 {
    width: $singleGrid*9%;
  }

  &__md-10 {
    width: $singleGrid*10%;
  }

  &__md-12 {
    width: $singleGrid*12%;
  }
}

.inline-block {
  display: inline-block;
}

.button {
  padding: 2%;
  color: white;
  margin: 0.2%;
  text-align: center;
  border-radius: 30%;
  font-size: 1vw;

  &--red {
    background: rgb(224, 57, 57);
  }

  &--black {
    background: #000;
  }

  &--orange {
    background: #f89b22
  }

  &--grey {
    background: grey;
  }
}

.calculator__display {
  height: 50%;
  background-color: black;
  color: greenyellow;
  text-align: right;
}