@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@import url('https://fonts.googleapis.com/css?family=Raleway');

// color
$red : #c2331a !default;
$black : #000 !default;

// font
$raleway : "Raleway", sans-serif;
$roboto-condesed: "Roboto Condensed", sans-serif;;

.text {
  margin: 50px;
  color: $black;

  &__job {
    text-align: left;
    text-transform: uppercase;
    font-family: $raleway;
    letter-spacing: 0px;
    font-size: 200%;
    color:$black;
    font-weight: 700;
  }
  &__name {
    font-family: $roboto-condesed;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-size: 500%;
    font-weight: 700;
    margin-block-start: 0;
    margin-block-end: 0;

    &--red {
      color: $red;
    }

    &--black {
      color: $black;
    }
  }
}

.content {
  margin-left: 50px;
  margin-right: 50px;
  color: $black;

  &__title {
    letter-spacing: 0.05em;
    font-size: 250%;
    text-align: right;
    position: relative;
    text-transform: uppercase;
    font-family: $roboto-condesed;
    width: 240px;
    transform-origin: left top;
    line-height: 1;
    margin-left: 0px;   
    margin-block-end: 0px;

    &--red {
      color: $red;
      display: inline-block;
    }

    &--bold {
      font-weight: 500;
      font-family: $roboto-condesed;
      margin: 0px;
      margin-top: 30px;
    }
    
    &__line {
      height: 5px;
      stroke-width: 3px;
      display: inline-block;
      position: absolute;
      margin-block-start: 45px;
    }
  }

  &__text {
    display: inline-block;
    font-family: Raleway, sans-serif;
    font-size: 150%;
    transform-origin: left top; 
    line-height: 1.22;
    width: 70%;
    margin-block-start: 0px;
    margin-block-end: 0px;
  }
}

.contact-info {
  text-align: right;
  display: inline-block;
  width: fit-content;
  transform-origin: left top;
  line-height: 1.22;
  font-size: larger;
  font-family: Raleway;
}

.svg {
  &__photo-profile {
    display: inline-block;
    width: 250px;
    height: 250px;
    transform: translate(39px, 43px);
    margin: 50px;
  }
}

.line {
  width: 100%;
  fill: $red;

  &__header {
    stroke-width: 4px;
    height: 8px;
  }
  &__footer {
    stroke-width: 4px;
    height: 8px;
  }
}

.footer {
  margin-top: 200px;
  display: block;
}

.header {
  margin-top: 5px;
}